body,ul,ol,li,p,h1,h2,h3,h4,h5,h6,form,fieldset,table,td,img,div{
  margin:0;
  padding:0;
  border:0;
}

ul,ol {
  list-style-type:none;
}
select,input,img,select {
  vertical-align:middle;
}
a {
  text-decoration:none;
}

.justify {
  text-align: justify;
  text-justify:distribute-all-lines; // 这行必加，兼容ie浏览器
  text-align-last: left;
}

.wrapper {
  position: relative;
  $navbar-height: 73px;
  overflow-x: hidden;
  min-width: 767px;
  .navbar {
    position: fixed;
    top: 0;
    left: 0;
    height: $navbar-height;
    width: 100%;
    z-index: 2000;
    margin-bottom: 0;
    background-color: rgba(0,0,0,.8);
    border-radius: 0;
    border: none;
    .container-fluid {
      .navbar-header {
        height: $navbar-height;
        background-color: rgba(0,0,0,.8);
        .navbar-toggle {
          margin-top: 18px;
        }
      }
      .navbar-collapse {
        border: none;
        padding: 0;
        height: $navbar-height;
        .navbar-nav {
          float: none;
          height: $navbar-height;
          text-align: center;
          margin-top: 0;
          margin-bottom: 0;
          .item {
            cursor: pointer;
            &:hover {
              a {
                .text {
                  color: #fff;
                }
              }
            }
            display: inline-block;
            float: none !important;
            height: $navbar-height;
            a {
              height: $navbar-height;
              line-height: $navbar-height;
              padding: 12px 10px;
              .icon {
                float: left;
                width: 48px;
                height: 48px;
                background: #000000;
                border: 1px solid #C4C4C4;
                border-radius: 50%;
                position: relative;
                vertical-align: middle;
                img {
                  position: absolute;
                  top: 50%;
                  left: 50%;
                  transform: translate(-50%, -50%);
                }
              }
              .text {
                float: left;
                font-size: 16px;
                font-family: MicrosoftYaHeiLight;
                font-weight: 400;
                color: #898989;
                line-height: 48px;
                vertical-align: middle;
                margin-left: 10px;
              }
            }

            & + .item {
              margin-left: 152px;
            }
            &.active {
              a {
                background-color: transparent;
                .text {
                  color: #fff;
                }
              }
            }
          }
        }
      }
    }
  }
  .bg {
    position: absolute;
    width: 100%;
    height: auto;
    bottom: 0;
    left: 0;
    z-index: 20;
  }
  .tab {
    height: 73px;
    width: 100%;
    background-color: rgba(0,0,0,.8);
    position: fixed;
    left: 0;
    top: 0;
    text-align: center;
    font-size: 0;
    z-index: 1000;
    .item {
      display: inline-block;
      margin-top: 12px;
      .icon {
        float: left;
        width: 48px;
        height: 48px;
        background: #000000;
        border: 1px solid #C4C4C4;
        border-radius: 50%;
        position: relative;
        vertical-align: middle;
        img {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }
      }
      .text {
        float: left;
        font-size: 16px;
        font-family: MicrosoftYaHeiLight;
        font-weight: 400;
        color: #898989;
        line-height: 48px;
        vertical-align: middle;
        margin-left: 10px;
      }

      & + .item {
        margin-left: 152px;
      }

      &.active {
        .text {
          color: #fff;
        }
      }
    }
  }
  .mobile-tab {
    display: none
  }
  .hide {
    display: none;
  }
  .show {
    display: block;
  }
  @media screen and (max-width: 1080px) {
    .navbar {
      .container-fluid {
        .navbar-collapse {
          height: auto;
          .navbar-nav {
            height: auto;
            .item {
              & + .item {
                margin-left: 80px;
              }
            }
          }
        }
      }
    }
  }
  @media screen and (max-width: 880px) {
    .navbar {
      .container-fluid {
        .navbar-collapse {
          height: auto;
          .navbar-nav {
            height: auto;
            .item {
              & + .item {
                margin-left: 25px;
              }
            }
          }
        }
      }
    }
  }
  @media screen and (max-width: 767px) {
    .navbar {
      .container-fluid {
        .navbar-collapse {
          border-top: #333 solid 1px;
          background-color: rgba(0,0,0,.8);
          .navbar-nav {
            .item {
              cursor: pointer;
              &:hover {
                background-color: rgba(255, 255, 255, .3);
              }
              display: block;
              padding: 0 15px;
              & + .item {
                margin-left: 0;
              }
            }
          }
        }
      }
    }
  }

  .module {
    position: relative;
    padding: 61px 0 0 0;
    &.gray {
      background-color: #E6E6E6;
      .module-english-title {
        p {
          background-color: #E6E6E6;
        }
      }
    }
    &.black {
      background-color: #020202;
      .module-title {
        color: #fff;
      }
      .module-english-title {
        p {
          background-color: #020202;
          color: #fff;
        }
      }
    }
    .module-title {
      text-align: center;
      height: 40px;
      font-size: 40px;
      font-family: MicrosoftYaHei;
      font-weight: 400;
      color: #3E3A39;

      &.complex-bg {
        color: #fff;
      }
    }
    .module-english-title {
      position: relative;
      text-align: center;
      margin-top: 18px;
      height: 20px;
      p {
        display: inline-block;
        height: 14px;
        font-size: 14px;
        font-family: MicrosoftYaHei;
        font-weight: 300;
        color: #898989;
        position: absolute;
        left: 50%;
        transform: translate(-50%);
        z-index: 2;
        padding: 0 10px;
      };
      &:after {
        content: '';
        position: absolute;
        left: 50%;
        top: 10px;
        width: 337px;
        height: 1px;
        margin-left: -168px;
        background-color: #898989;
        z-index: 1;
      }
    }

    .introduce-paragraph {
      max-width: 906px;
      width: 88% !important;
      font-size: 14px;
      font-family: MicrosoftYaHeiLight;
      font-weight: 300;
      color: #3E3A39;
      line-height: 24px;
      word-break: break-word;
      overflow-wrap: break-word;
      margin: 35px auto 0;
      @extend .justify;
    }
  }

  .advantages {
    text-align: center;
    &.blackBg {
      .advantage-list {
        .center-advantage {
          &:after {
            content: '';
            height: 106px;
            position: absolute;
            left: 106px;
            right: 0;
            top: 0;
            background-color: #B1B1B1;
          }
          .text {
            .content {
              color: #3E3A39 !important;
              @extend .justify;
            }
          }
        }
        .text {
          .title, .content {
            color: #fff;
          }
        }
      }
    }
  }

  .advantage-list {
    width: 500px;
    margin: 0 auto;
    padding-bottom: 117px;
    display: inline-block;
    overflow: hidden;
    & + .advantage-list{
      margin-left: 77px;
    }
    li {
      overflow: hidden;
      box-sizing: border-box;
      text-align: left;
      margin-top: 48px;
      position: relative;
      .icon {
        float: left;
        width: 106px;
        height: 106px;
      }
      .text {
        float: right;
        width: 378px;
        .title {
          font-size: 16px;
          font-family: MicrosoftYaHeiLight;
          font-weight: 400;
          color: #3E3A39;
          line-height: 24px;
        }
        .content {
          font-size: 14px;
          font-family: MicrosoftYaHeiLight;
          color: #3E3A39;
          font-weight: 300;
          line-height: 18px;
          @extend .justify;
        }
        &.center {
          position: absolute;
          top: 50%;
          left: 125px;
          right: 20px;
          transform: translate(0, -50%);
          z-index: 1;
          width: auto;
          float: none;
        }
      }
    }
  }

  @media screen and (max-width: 1200px) {
    .advantages {
      font-size: 0;
      .module-english-title {
        margin-bottom: 31px;
      }
    }
    .advantage-list {
      width: 70%;
      padding-bottom: 0;
      & + .advantage-list{
        margin-left: 0;
        padding-bottom: 80px;
        & > li {
          &:last-child {
            border-bottom: none;
          }
        }
      }
      & > li {
        position: relative;
        padding: 20px 0;
        margin-top: 0;
        border-bottom: 1px solid #787878;
        height: 146px;
        img {
          position: absolute;
          top: 20px;
          left: 0;
          float: none
        }
      }

      .center-advantage {
        &:after {
          top: 20px !important;
        }
      }

      .text {
        float: none !important;
        padding-left: 125px;
        width: auto !important;
        &.center {
          padding-left: 0;
        }
      }
    }
  }

  .product-parameters-image {
    width: 988px;
    display: block;
    margin: 44px auto 0;
    padding-bottom: 130px;
    @media screen and (max-width: 1100px) {
      width: 88%;
      max-width: 988px;
    }
  }

  .application {
    text-align: center;
    padding-bottom: 230px;
    .application-image {
      width: 935px;
      margin-top: 75px;
      @media screen and (max-width: 1100px) {
        width: 88%;
        max-width: 935px;
      }
    }
  }

  .DRP-BL {
    .banner {
      height: 808px;
      background-image: url("../images/banner.jpeg");
      background-position: top center;
      background-size: cover;
      text-align: center;
      overflow-y: visible;

      .inner-box {
        width: 922px;
        margin: 0 auto;
        padding-top: 199px;
        position: relative;
        z-index: 1;
        font-size: 0;
      }
      .img {
        width: 322px;
        float: left;
      }
      .content {
        text-align: left;
        display: inline-block;
        width: 450px;
        word-break: break-word;
        overflow-wrap: break-word;
        float: right;
        padding: 114px 0 0 0;
        .title {
          font-size: 40px;
          line-height: 40px;
          font-family: MicrosoftYaHei;
          font-weight: 400;
          color: #FFFFFF;
        }
        .sub-title {
          font-size: 16px;
          line-height: 30px;
          font-weight: 300;
          color: #FFFFFF;
          margin-top: 24px;
          @extend .justify;
        }
      }
    }

    .online-series {
      padding: 126px 0 99px;
      .series-box {
        width: 902px;
        margin: 62px auto 0;
        text-align: center;
        font-size: 0;
        .series-item {
          display: inline-block;
          width: 165px;
          height: 400px;
          position: relative;
          &:nth-child(2) {
            margin: 0 162px;
          }
          .series-item-image {
            position: absolute;
            left: 50%;
            bottom: 47px;
            transform: translate(-50%, 0);
          }
          .series-item-text {
            width: 165px;
            height: 30px;
            position: absolute;
            bottom: 0;
            left: 0;
            background: #5C5C5C;
            border-radius: 6px;
            font-size: 14px;
            font-family: MicrosoftYaHeiLight;
            font-weight: 400;
            color: #FFFFFF;
            line-height: 30px;
            text-align: center;
          }
        }
      }
    }

    .offline-series {
      height: 514px;
      box-sizing: border-box;
      background-image: url("../images/DRP_BL/offline_bg.jpg");
      background-position: center;
      background-size: cover;
      .inner-box {
        width: 949px;
        margin: 0 auto;
        padding-top: 36px;
        position: relative;
        z-index: 1;
        font-size: 0;
        .img {
          width: 311px;
          float: left;
        }
        .content {
          text-align: left;
          display: inline-block;
          width: 540px;
          word-break: break-word;
          overflow-wrap: break-word;
          float: right;
          padding: 56px 0 0 0;
          .title {
            width: 165px;
            text-align: center;
            font-size: 14px;
            font-family: MicrosoftYaHeiLight;
            font-weight: 400;
            color: #FFFFFF;
            line-height: 30px;
            background: #5C5C5C;
            border-radius: 6px;
          }
          .sub-title {
            font-size: 14px;
            font-family: MicrosoftYaHeiLight;
            font-weight: 400;
            color: #FFFFFF;
            line-height: 24px;
            margin-top: 28px;
            @extend .justify;
          }
        }
      }
    }

    @media screen and (max-width: 1000px) {
      .banner {
        .inner-box {
          width: 860px;
        }
      }
      .offline-series {
        .inner-box {
          width: 860px;
          .content {
            width: 460px;
          }
        }
      }
    }

    @media screen and (max-width: 880px) {
      .banner {
        height: 600px;
        .inner-box {
          width: 720px;
          padding-top: 72px;
          .img {
            width: 280px;
            float: left;
          }
          .content {
            width: 380px;
            .title {
              font-size: 30px;
              line-height: 30px;
            }
            .sub-title {
              margin-top: 10px;
              font-size: 14px;
            }
          }
        }
      }
      .online-series {
        .series-box {
          width: 702px;
          .series-item {
            &:nth-child(2) {
              margin: 0 82px;
            }
          }
        }
      }

      .offline-series {
        .inner-box {
          width: 720px;
          .content {
            width: 320px;
          }
        }
      }
    }
  }

  .DRP-BR {
    .banner {
      height: 519px;
      background-image: url("../images/banner.jpeg");
      background-position: top center;
      background-size: cover;
      text-align: center;
      overflow-y: visible;

      .inner-box {
        width: 992px;
        margin: 0 auto;
        padding-top: 150px;
        position: relative;
        z-index: 1;
        font-size: 0;
      }
      .img {
        width: 487px;
        float: left;
      }
      .content {
        text-align: left;
        display: inline-block;
        width: 450px;
        word-break: break-word;
        overflow-wrap: break-word;
        float: right;
        padding: 56px 0 0 0;
        .title {
          font-size: 40px;
          line-height: 40px;
          font-family: MicrosoftYaHei;
          font-weight: 400;
          color: #FFFFFF;
        }
        .sub-title {
          font-size: 16px;
          line-height: 30px;
          font-weight: 300;
          color: #FFFFFF;
          margin-top: 24px;
          @extend .justify;
        }
      }
    }

    .product-introduction-image-text {
      margin-top: 80px;
      padding-bottom: 135px;
      .inner-box {
        width: 1260px;
        margin: 0 auto;
        overflow: hidden;
        height: 250px;
        .left {
          font-size: 0;
          float: left;
          .list {
            float: left;
          }
          img {
            margin-left: 37px;
          }
        }
        .right {
          font-size: 0;
          float: right;
          .list {
            float: right;
          }
          img {
            margin-right: 37px;
          }
        }
        .list {
          .title {
            font-size: 14px;
            font-family: MicrosoftYaHeiLight;
            font-weight: 400;
            color: #FFFFFF;
            line-height: 14px;
            background: #5C5C5C;
            border-radius: 6px;
            padding: 8px 34px;
            display: inline-block;
            margin: 22px 0 15px;
          }
          li {
            font-size: 16px;
            font-family: MicrosoftYaHeiLight;
            font-weight: 400;
            color: #3E3A39;
            line-height: 24px;
            padding-left: 10px;
            position: relative;
            &:before {
              content: '';
              position: absolute;
              top: 8px;
              left: 3px;
              width: 4px;
              height: 4px;
              background-color: #29ACF7;
            }
          }
        }
      }

      @media screen and (max-width: 1300px) {
        .inner-box {
          width: auto;
          height: auto;
          .left {
            float: none;
            width: 650px;
            margin: 0 auto;
            img {
              margin-left: 74px;
            }
          }
          .right {
            float: none;
            width: 650px;
            margin: 45px auto 0;
          }
        }
      }

      @media screen and (max-width: 880px) {
        .inner-box {
          width: auto;
          height: auto;
          .left {
            float: none;
            width: 620px;
            margin: 0 auto;
            img {
              margin-left: 34px;
            }
          }
          .right {
            float: none;
            width: 620px;
            margin: 45px auto 0;
          }
        }
      }
    }

    @media screen and (max-width: 1100px) {
      .banner {
        height: 450px;
        .inner-box {
          width: 860px;
          img {
            width: 400px;
          }
          .content {
            width: 400px;
          }
        }
      }
    }

    @media screen and (max-width: 880px) {
      .banner {
        height: 400px;
        .inner-box {
          width: 740px;
          padding-top: 158px;
          .img {
            width: 320px;
            float: left;
          }
          .content {
            width: 380px;
            .title {
              font-size: 30px;
              line-height: 30px;
            }
            .sub-title {
              margin-top: 10px;
              font-size: 14px;
            }
          }
        }
      }
    }
  }

  .DRP-BF {
    .banner {
      height: 519px;
      background-image: url("../images/banner.jpeg");
      background-position: top center;
      background-size: cover;
      text-align: center;
      overflow-y: visible;

      .inner-box {
        width: 923px;
        margin: 0 auto;
        padding-top: 134px;
        position: relative;
        z-index: 1;
        font-size: 0;
      }
      .img {
        width: 325px;
        float: left;
      }
      .content {
        text-align: left;
        display: inline-block;
        width: 450px;
        word-break: break-word;
        overflow-wrap: break-word;
        float: right;
        padding: 72px 0 0 0;
        .title {
          font-size: 40px;
          line-height: 40px;
          font-family: MicrosoftYaHei;
          font-weight: 400;
          color: #FFFFFF;
        }
        .sub-title {
          font-size: 16px;
          line-height: 30px;
          font-weight: 300;
          color: #FFFFFF;
          margin-top: 24px;
          @extend .justify;
        }
      }

      @media screen and (max-width: 1000px) {
        .inner-box {
          width: 860px;
        }
      }
    }
    .product-introduction-image-text {
      margin-top: 80px;
      padding-bottom: 135px;
      .inner-box {
        width: 1260px;
        margin: 0 auto;
        overflow: hidden;
        height: 290px;
        .left {
          font-size: 0;
          float: left;
          .list {
            float: left;
          }
          img {
            margin-left: 59px;
          }
        }
        .right {
          font-size: 0;
          float: right;
          .list {
            float: right;
          }
          img {
            margin-right: 59px;
          }
        }
        .list {
          .title {
            font-size: 14px;
            font-family: MicrosoftYaHeiLight;
            font-weight: 400;
            color: #FFFFFF;
            line-height: 14px;
            background: #5C5C5C;
            border-radius: 6px;
            padding: 8px 34px;
            display: inline-block;
            margin: 22px 0 15px;
          }
          li {
            font-size: 16px;
            font-family: MicrosoftYaHeiLight;
            font-weight: 400;
            color: #3E3A39;
            line-height: 24px;
            padding-left: 10px;
            position: relative;
            &:before {
              content: '';
              position: absolute;
              top: 8px;
              left: 3px;
              width: 4px;
              height: 4px;
              background-color: #29ACF7;
            }
          }
        }
      }

      @media screen and (max-width: 1300px) {
        .inner-box {
          width: auto;
          height: auto;
          .left {
            float: none;
            width: 650px;
            margin: 0 auto;
            img {
              margin-left: 175px;
            }
          }
          .right {
            float: none;
            width: 650px;
            margin: 45px auto 0;
          }
        }
      }
    }

    @media screen and (max-width: 1000px) {
      .banner {
        .inner-box {
          width: 860px;
        }
      }
    }

    @media screen and (max-width: 880px) {
      .banner {
        height: 450px;
        .inner-box {
          width: 720px;
          padding-top: 112px;
          .img {
            width: 280px;
            float: left;
          }
          .content {
            width: 380px;
            margin-top: -10px;
            .title {
              font-size: 30px;
              line-height: 30px;
            }
            .sub-title {
              margin-top: 10px;
              font-size: 14px;
            }
          }
        }
      }
    }
  }
}
